<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa cumque, fugit minus laboriosam officiis hic omnis quod quibusdam delectus nemo impedit ab repellendus ex deleniti, beatae doloremque quos dolores odit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae commodi similique, qui minima odit iure saepe numquam non, expedita architecto corporis obcaecati ea illum quaerat! Quae tenetur quibusdam tempora atque!</p>
    <button>Click me!</button>
</body>
</html>